<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572495779669-hps8v6cnq3tb3t8jtpjlrfsvt4ulkpfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572495779669-hps8v6cnq3tb3t8jtpjlrfsvt4ulkpfi</string>
	<key>API_KEY</key>
	<string>AIzaSyChgzX32bp0_bGAgNk1s39mCMiEjZg2jMk</string>
	<key>GCM_SENDER_ID</key>
	<string>572495779669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.SilentPlanet.shelves</string>
	<key>PROJECT_ID</key>
	<string>shelves-7f2d6</string>
	<key>STORAGE_BUCKET</key>
	<string>shelves-7f2d6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572495779669:ios:384c7735c62378d52901dc</string>
</dict>
</plist>